@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

body {
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: beige;
    font-family: 'Raleway', sans-serif;
}